server:
  servlet:
    context-path: /api
  error:
    include-message: AlWAYS
    include-stacktrace: ALWAYS

spring:
  application:
    name: servoeste
  output:
    ansi:
      enabled: ALWAYS
  datasource:
    url: jdbc:mysql://${DB_HOST:localhost}:${DB_PORT:3306}/${DB_NAME:servOeste}?createDatabaseIfNotExist=TRUE
    username: ${MYSQL_USERNAME}
    password: ${MYSQL_PASSWORD}
    driver-class-name: com.mysql.cj.jdbc.Driver
  jpa:
    hibernate:
      ddl-auto: none
    properties:
      hibernate:
#        format_sql: false
        jdbc:
          lob:
            non_contextual_creation: true
    show-sql: false
    open-in-view: false
  flyway:
    enabled: true
    baseline-on-migrate: true
    baseline-version: 0
  main:
    allow-bean-definition-overriding: true
  mvc:
    problemdetails:
      enabled: true
    pathmatch:
      matching-strategy: ANT_PATH_MATCHER

springdoc:
  default-produces-media-type: application/json
  swagger-ui:
    path: /swagger

security:
  jwt:
    secret: ${JWT_TOKEN_SECRET}
    valid-time: ${JWT_TOKEN_EXPIRATION_TIME}
    refresh-time: ${REFRESH_TOKEN_EXPIRATION_TIME}

app:
  admin:
    username: ${APP_ADMIN_USERNAME}
    password: ${APP_ADMIN_PASSWORD}

#logging:
#  level:
#    org:
#      hibernate:
#        SQL: DEBUG
#        type:
#          descriptor:
#            sql:
#              BasicBinder: TRACE